@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

::-webkit-scrollbar {
  display: none;
}

.cl-userButtonPopoverActions {
  max-height: 400px !important;
  overflow-y: scroll !important;
}

.cl-userButtonPopoverFooter {
  max-height: none !important;
  overflow-y: visible !important;
}